.posts {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.post {
  margin-bottom: 2.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.postImg {
  overflow: hidden;
  margin: 9px;
  width: 25%;
  min-width: 25%;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.postText {
  padding: 9px;
  margin: 9px;
  align-self: flex-start;
  width: 60%;
}

.postText p {
  line-height: 1.8;
  font-size: 1rem;
}

@media (max-width: 40rem) {
  .post {
    width: 100%;
    flex-direction: column;
  }

  .postImg {
    min-width: 100%;
    width: 100%;
  }

  .postText {
    width: 100%;
  }
}
