.container {
  margin-top: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.footerText {
  line-height: 1.1;
  font-style: italic;
  color: rgba($color: #817e7e, $alpha: 0.7);
  font-weight: 300;
}

.authorStyle {
  color: rgba($color: #616060, $alpha: 0.7);
  border-bottom: 1px solid #222222;
}

.authorStyle:hover {
  color: #222222;
  cursor: pointer;
}
