.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentBox {
  flex-grow: 1;
}

.container {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 3rem;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-device-width: 1025px),
  screen and (max-device-width: 1024px) and (min-device-width: 481px) {
  .container {
    width: 97%;
  }
}
